body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
  margin-top: auto;
}

.content {
  background: #e3f4ff;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;

}

button {
  background: white;
  border: 1px solid #eee;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  font-size: 16px;

}

.text {
  margin-left: 175px;
  margin-right: auto;
  font-size: 16px;
}